mock==4.0.3
pymetasploit3==1.0.3
amqpstorm==2.10.3
pytest==6.2.5
pytest-cov==2.10.1
structlog==20.1.0
PyYAML==5.3.1
schema==0.7.2
click==7.1.2
bottle==0.12.19
pyfiglet~=0.8.post1
paramiko~=2.7.2
requests~=2.26.0
utinni==0.5.0
pytest-asyncio==0.16.0
pytest-mock==3.6.1
